.sidebar_wrapper {
  display: none;
}

@media only screen and (max-width: 767px) {
  .sidebar_wrapper {
    width: 100%;
    background: #fff;
    position: absolute;
    top: 110px;
    display: block;
    height: 0;
  }

  .sidebar-navlinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
    opacity: 1;
    transition: all 0.5s;
    z-index: -1;
    left: -120%;
    /* margin: 120px 0; */
  }
  .open_sidebar {
    opacity: 1;
    top: 110px;
  }
  .open_sidebar .sidebar-navlinks {
    z-index: 99;
  }
  .sidebar_nav_item_wrapper {
    width: 100%;
    opacity: 0;
    /* transform: rotateX(-90deg); */
    transition: all ease-in-out 0.5s;
    left: -1000px;
    position: relative;
  }
  .sidebar-navlinks .nav-item {
    font-weight: 700;
    width: 100%;
    font-size: 1rem;
    line-height: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    transition: all 500ms;
    color: var(--white-color);
    background-color: var(--secondary-color);
  }
  .open_sidebar .sidebar-navlinks .sidebar_nav_item_wrapper {
    display: block;
  }
  .open_sidebar .sidebar-navlinks .nav-item:hover {
    background-color: var(--dark-blue-color);
  }
  .open_sidebar .sidebar-navlinks .sidebar_nav_item_wrapper:nth-last-child(5) {
    opacity: 1;
    left: 120%;
  }
  .open_sidebar .sidebar-navlinks .sidebar_nav_item_wrapper:nth-last-child(4) {
    opacity: 1;
    left: 120%;
    transition-delay: 250ms;
  }
  .open_sidebar .sidebar-navlinks .sidebar_nav_item_wrapper:nth-last-child(3) {
    opacity: 1;
    left: 120%;
    transition-delay: 500ms;
  }
  .open_sidebar .sidebar-navlinks .sidebar_nav_item_wrapper:nth-last-child(2) {
    opacity: 1;
    left: 120%;
    transition-delay: 750ms;
  }
  .open_sidebar .sidebar-navlinks .sidebar_nav_item_wrapper:nth-last-child(1) {
    opacity: 1;
    left: 120%;
    transition-delay: 1s;
  }
  .close_sidebar .sidebar-navlinks .sidebar_nav_item_wrapper:nth-last-child(5) {
    opacity: 1;
    left: (-1000px);
    transition-delay: 1s;
  }
  .close_sidebar .sidebar-navlinks .sidebar_nav_item_wrapper:nth-last-child(4) {
    opacity: 1;
    left: (-1000px);
    transition-delay: 750ms;
  }
  .close_sidebar .sidebar-navlinks .sidebar_nav_item_wrapper:nth-last-child(3) {
    opacity: 1;
    left: (-1000px);
    transition-delay: 500ms;
  }

  .close_sidebar .sidebar-navlinks .sidebar_nav_item_wrapper:nth-last-child(2) {
    opacity: 1;
    left: (-1000px);
    transition-delay: 250ms;
  }
  .close_sidebar .sidebar-navlinks .sidebar_nav_item_wrapper:nth-last-child(1) {
    opacity: 1;
    left: (-1000px);
  }
  /* @keyframes rotateX {
    0% {
      opacity: 0;
      transform: rotateX(-90deg);
    }
    50% {
      transform: rotateX(-20deg);
    }
    100% {
      opacity: 1;
      transform: rotateX(0deg);
    }
  }
  @keyframes rotateX_out {
    0% {
      opacity: 1;
      transform: rotateX(0deg);
    }
    50% {
      transform: rotateX(20deg);
    }
    100% {
      opacity: 0;
      transform: rotateX(-90deg);
    }
  } */
  /* .open_sidebar .sidebar-navlinks .nav-item:nth-last-child(5) {
    animation: rotateX 300ms ease-in-out forwards;
    animation-delay: 1s;
    transform-origin: top center;
  }
  .open_sidebar .sidebar-navlinks .nav-item:nth-last-child(4) {
    animation: rotateX 500ms ease-in-out forwards;
    animation-delay: 1s;
    transform-origin: top center;
  }
  .open_sidebar .sidebar-navlinks .nav-item:nth-last-child(3) {
    animation: rotateX 700ms ease-in-out forwards;
    animation-delay: 1s;
    transform-origin: top center;
  }
  .open_sidebar .sidebar-navlinks .nav-item:nth-last-child(2) {
    animation: rotateX 900ms ease-in-out forwards;
    animation-delay: 1s;
    transform-origin: top center;
  }
  .open_sidebar .sidebar-navlinks .nav-item:nth-last-child(1) {
    animation: rotateX 1000ms ease-in-out forwards;
    animation-delay: 1s;
    transform-origin: top center;
  }
  .close_sidebar .sidebar-navlinks .nav-item:nth-last-child(5) {
    animation: rotateX_out 500ms ease-in-out forwards;
    transform-origin: top center;
  }
  .close_sidebar .sidebar-navlinks .nav-item:nth-last-child(4) {
    animation: rotateX_out 700ms ease-in-out forwards;
    transform-origin: top center;
  }
  .close_sidebar .sidebar-navlinks .nav-item:nth-last-child(3) {
    animation: rotateX_out 900ms ease-in-out forwards;
    transform-origin: top center;
  }
  .close_sidebar .sidebar-navlinks .nav-item:nth-last-child(2) {
    animation: rotateX_out 1100ms ease-in-out forwards;
    transform-origin: top center;
  }
  .close_sidebar .sidebar-navlinks .nav-item:nth-last-child(1) {
    animation: rotateX_out 1300ms ease-in-out forwards;
    transform-origin: top center;
  } */
  /* animation: rotateX 300ms (num * 60ms) ease-in-out forwards
            transform-origin: top center */
}
