.header {
  width: 100%;
  position: fixed;
  transition: all 0.3s;
  z-index: 90;
  background-color: var(--white-color);
}
.header_fixed {
  top: 0;
}

.main_header {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 15px 15px 0;
}

.main_header_fixed {
  /* height: 120px; */
  /* background-image: linear-gradient(
      145deg,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("../../assets/images/newsletters.jpg");
  background-position: center;
  background-size: cover; */
  /* justify-content: space-evenly; */
}

@media only screen and (max-width: 1000px) {
  .header {
    width: 100%;
    top: 0;
  }
  .header_fixed {
    top: 0;
  }
  .main_header {
    padding: 10px 0 0;
    /* background-image: linear-gradient(
        145deg,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      ),
      url("../../assets/images/newsletters.jpg");
    background-position: center;
    background-size: cover;
    justify-content: center; */
  }
}
.hide-navlinks {
  right: -100%;
}
